body {
  background-color: black;
}

.widget {
  padding: 25px 12px;
  text-align: center;
  width: 370px;
  height: 340px;
  vertical-align: middle;
  background-color: #9c4274;
  color: white;
  margin: 10px;
}

h1 {
  color: rgba(255, 255, 255, 0.7);
}

h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: white;
}

.widget-number .change-rate {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: white;
}
